body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #a8e6cf, #ffffff);
  font-family: Arial, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-container {
  text-align: center;
}

.msg {
  width: 50%;
  background: linear-gradient(to right, #00ff87, #0fefb6);
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 999px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 0 0 15px rgba(0, 255, 135, 0.4);
  cursor: pointer;
}
