* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #a8e6cf, #ffffff);
  position: relative;
}

.container {
  text-align: center;
  width: 100%;
  max-width: 500px;
  padding: 20px;
}

.snackbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 10px 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  height: 5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white;
  font-weight: bold;
}

.close-btn {
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.logo {
  width: 40px;
  margin-bottom: 30px;
}

#medidor {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.emoji-msg {
  width: 100%;
  margin-bottom: 40px;
}

.msg {
  background: linear-gradient(to right, #00ff87, #0fefb6);
  padding: 10px 20px;
  border-radius: 999px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 0 0 15px rgba(0, 255, 135, 0.4);
}

.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  overflow: hidden;
  cursor: pointer;
  padding: 5px;
  background: linear-gradient(to right, #00ff87, #0fefb6);
  box-shadow: 0 0 15px rgba(0, 255, 135, 0.4);
}


.search-select {
  background: transparent;
  border: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 16px;
  padding: 15px 40px 15px 20px;
  border-radius: 999px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  outline: none;
  position: relative;
}

.search-select option{
  color: #000;
}


.input-wrapper::after {
  content: "⌄";
  position: absolute;
  right: 20px;
  color: white;
  font-size: 18px;
  pointer-events: none;
}